div.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style:none;
}

ul.main > li > a {
    display:  flex;
    align-items: center;
    color: inherit;
}

ul.main >  li > a >img{
    width: 2.5rem;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

ul.main > li > a > p{
    color: inherit;
}
