header.menubar{
    display: flex;
position: fixed;
}

header.menubar section{
    
}

nav {
    border-bottom: 1px solid black;
}

.nav-depths ol {
    list-style-type: none;
    padding-left: 0;
}

li.nav-depth{
    display: inline-block;
}

.nav-depth a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
