header.menubar{
    display: flex;
position: fixed;
}

section.nav.depths{
    
}

section.nav.depths nav {
    border-bottom: 1px solid black;
}

section.nav.depths nav ol {
    list-style-type: none;
    padding-left: 0;
}

li.nav.depth{
    display: inline-block;
}

li.nav.depth a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

section.nav.links{}
section.nav.links ul{}
li.nav.link{}
li.nav.link a{}