dialog.modal{
    border: none;
    background-color: transparent;
}

dialog.modal.dim-cover::backdrop{
    background-color: rgba(0,0,0,0.3);
}
form.modal{
    padding : 30px;
    border: 1px;
    box-shadow: 1.6px 1.6px 1.6px rgba(0,0,0,0.3);
}