/*Toggle Section*/
div.toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input.toggle {
    width: 2.5rem;
    height: 1.5rem;
    opacity: 0;
}

label.toggle {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

label.toggle::before {
    content: "";
    position: absolute;
    right: 0;
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--unchecked);
    transition-duration: 369ms;
}

label.toggle.checked::before {
    background-color: var(--checked);
}

label.toggle::after {
    content: "";
    position: absolute;
    right: 0.3rem;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    transition-duration: 369ms;
}

label.toggle.checked::after {
    right: 1.2rem;
}
