video#media_player{
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
    background-color: black;
    transition-property: opacity;
    transition-duration: 369ms;
    opacity: 1;
    z-index: 1;
}