div.layout.container{
    display: flex;
    width: 100%;
    height: 100%;
}

header.layout.header{
    width: fit-content;
    height: fit-content;
}

main.layout.main{
    width: fit-content;
    height: fit-content;
}

footer.layout.footer{
    width: fit-content;
    height: fit-content;
}