section.navdepths{
    
}

section.navdepths nav {
    border-bottom: 1px solid black;
}

section.navdepths nav ol {
    list-style-type: none;
}

li.navdepth{
    display: inline-block;
}

li.navdepth a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
    pointer-events: none;
}